.title {
  text-align: center;
}
.new-todo-button {
  height: 40px;
  width: 40px;
  background: rgba(236, 9, 9, 0.2);
  border-radius: 50%;
  border: 2px solid rgba(9, 196, 71, 0.4);
  border-top-color: #fff;
  border-bottom-color: #fff;
  animation: spinner3 800ms ease infinite;
  margin-right: 100px;
}
@keyframes spinner3 {
  to {
    transform: rotate(360deg);
  }
}
