input[type="text"] {
  color: aliceblue;
  width: 40%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: rgb(43, 51, 87);
  border: none;
}

.category {
  background-color: rgb(43, 51, 87);
  color: aliceblue;
  border-radius: 5px;
}

.new-form {
  border-radius: 5px;
}
